<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="br.com.guerravpn.crediflow.CrediFlowApp"
        android:allowBackup="false"
        android:label="CrediFlow"
        android:icon="@drawable/ic_crediflow"
        android:roundIcon="@drawable/ic_crediflow"
        android:theme="@style/Theme.CrediFlow"
        android:usesCleartextTraffic="false">
        <activity
            android:name="br.com.guerravpn.crediflow.MainActivityV06"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
